@font-face{font-family:"oswaldbook";
src:url("regular/oswald-regular-webfont.eot");
src:url("regular/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("regular/oswald-regular-webfont.woff") format("woff"),
    url("regular/oswald-regular-webfont.ttf") format("truetype");
font-weight:normal; font-style:normal}
.oswald{font-family:"oswaldbook"; text-transform:uppercase; letter-spacing:-1px}
